<h1 mat-dialog-title> Customer Details</h1>
<div mat-dialog-content>

  <div class="mb-3">
    <label for="Fname" class="form-label">CustomerFirstName</label><br>
    <span>{{Customer.customerFirstName}}</span>
  </div>
  <div class="mb-3">
    <label for="Lname" class="form-label">CustomerLastName</label><br>
    <span>{{Customer.customerLastName}}</span>
  </div>
  <div class="mb-3">
    <label for="CustomerGender" class="form-label">CustomerGender</label> <br>
    <span> {{Customer.customerGender.toLowerCase()=="m"?"Male":"Female"}}</span>
  </div>
  <div class="mb-3">
    <label for="customerEmail" class="form-label">CustomerEmail</label><br>
    <span>{{Customer.customerEmail}}</span>
  </div>
  <div class="mb-3">
    <label for="customerDOB" class="form-label">CustomerDOB</label><br>
    <span>{{Customer.customerDOB | date: 'dd/MM/yyyy' }}</span>
  </div>
  <div class="mb-3">
    <label for="customerAddress" class="form-label">CustomerAddress</label><br>
    <ul *ngFor="let address of Customer.addresses">
      <li>{{address}}</li>
    </ul>
  </div>
</div>
<div mat-dialog-action [align]="'end'">
  <button mat-raised-button mat-button color="warn" mat-dialog-close>Close</button>

</div>