<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Customers</div>
  <div class="page__content shadow p-3">
    <button class="test" mat-raised-button mat-button color="primary" (click)="openDialog()">Add Customer</button>
    <div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">CustomerFirstName</th>
            <th scope="col">CustomerLastName</th>
            <th scope="col">CustomerGender</th>
            <th scope="col">CustomerDOB</th>
            <th scope="col">CustomerEmail</th>
            <th scope="col">CustomerAddress</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataSource; let i=index">
            <td>{{item.customerFirstName}}</td>
            <td>{{item.customerLastName}}</td>
            <td>{{item.customerGender.toLowerCase()=="m"?"Male":"Female"}}</td>
            <td>{{item.customerDOB | date: 'dd/MM/yyyy' }}</td>
            <td>{{item.customerEmail}}</td>
            <td>
              <ul *ngFor="let address of item.addresses">
                <li>{{address}}</li>
              </ul>
            </td>
            <td>
              <button mat-icon-button class="btn-primary m-1" (click)="showDetails(item)">
                <mat-icon>visibility</mat-icon>
              </button>
              <button class="btn btn-info" (click)=" editCustomer(item)">
                <mat-icon>edit</mat-icon>
              </button>
              <button (click)="deleteCustomer(item.id)" class="btn btn-danger mx-3">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>